mixin content-block()
	.container
		.content-block
			block

mixin header-image(text, image)
	.header-image(style="background-image: url(#{image})")
		.text
			h1= text

mixin flavor(name, image)
	.flavor.item.col-md-6
		if image
			.image
				img(src=image)
		.info
			h2.name= name
			block

mixin order-item(type, slug, description)
	.col-md-3(class=type)
		.item
			a(href="https://squareup.com/market/kilikinas-chocolat/#{slug}" class="sq-embed-item")= description